:root {
    --sky-blue: #0094ff;
    --grass-green: #70FF00;
    --rosey-red: #FF3030;
    --sunny-yellow: #FFF500;
    --night-black: #050505;
    --serious-black: #111111;
    --serious-white: #eeeeee;
}

/* Fonts sourced from Google Fonts */
@font-face {
    font-family: "Nanum Pen Script";
    src: url("../fonts/NanumPenScript-Regular.ttf");
}

@font-face {
    font-family: "IM Fell French Canon";
    src: url("../fonts/IMFellFrenchCanon-Regular.ttf");
}

@font-face {
    font-family: "Gloria Hallelujah";
    src: url("/fonts/GloriaHallelujah-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    margin:0;
    padding:0;
}

body {
    font-family: "Nanum Pen Script";
    font-size: 26px;
    margin: 0;
    padding: 0;
    background-color: var(--serious-black);
    text-align: center;
}

#alex-content {
    width: min(800px, 90%);
    margin: 0 auto;
    background-color: var(--grass-green);
    height: 100vh;
}

h1, h2, p, figure, ol, ul {
    margin: 0;
}

#title-banner {
    padding: 5px;
    background-color: var(--sky-blue);
    height: 120px;
}

#title-banner h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: "Gloria Hallelujah";
}

#form-div {
    background-color: var(--grass-green);
    padding: 25px;
}

input {
    border: solid 2px var(--night-black);
    font-family: "Nanum Pen Script";
    width: 200px;
    height: 30px;
    font-size: 24px;
}

button{
    width: 230px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 2em;
    border-style: none;
    background-color: var(--sky-blue);
    font-family: "Nanum Pen Script";
    font-size: 26px;
    transition: 0.5s;
    margin: 25px;
}

button:hover{
    background-color: var(--rosey-red);
    color: var(--serious-white);
}

a {
    color: var(--night-black);
}

a:visited {
    color: var(--night-black);
}

footer {
    background-color: var(--serious-black);
    font-family: "IM Fell French Canon";
    color: var(--serious-white);
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    border-top: solid 3px var(--serious-white);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--serious-white);
    padding: 5px;
    margin: 0;
}

footer a:hover {
    color: var(--serious-black);
    background: var(--serious-white);
}

.footer-logo {
    display: flex;
}