* {
    box-sizing: border-box;
}

:root {
    --serious-black: #111111;
    --serious-white: #eeeeee;
    --professional-gray: #333333;
    --bloody-red: #8a0404;
}

/* Fonts from Google Fonts */
@font-face {
    font-family: "Allura";
    src: url("/fonts/Allura-Regular.ttf")
}

@font-face {
    font-family: "IM Fell French Canon";
    src: url("/fonts/IMFellFrenchCanon-Regular.ttf");
}

body {
    background-color: var(--professional-gray);
    color: var(--serious-white);
    font-family: "IM Fell French Canon";
    text-align: center;
    margin: 0;
    padding: 0;
}

#content-div {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--serious-black);
    padding: 15px;
}

.input-div {
    align-content: center;
    padding: 10px;
}

input {
    display: inline-block;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: "IM Fell French Canon";
    color: var(--serious-black);
    border: solid 5px var(--professional-gray);
}

button {
    background-color: var(--serious-white);
    width: 100px;
    height: 40px;
    border: solid 3px var(--professional-gray);
    font-family: "IM Fell French Canon";
    font-size: 18px;
    margin: 10px;
}