* {
    box-sizing: border-box;
}

:root {
    --serious-black: #111111;
    --serious-white: #eeeeee;
    --professional-gray: #333333;
    --bloody-red: #8a0404;
}

/* Fonts from Google Fonts */
@font-face {
    font-family: "Allura";
    src: url("/fonts/Allura-Regular.ttf")
}

@font-face {
    font-family: "IM Fell French Canon";
    src: url("/fonts/IMFellFrenchCanon-Regular.ttf");
}

@font-face {
    font-family: "Nosifer";
    src: url("/fonts/Nosifer-Regular.ttf")
}

body {
    background-color: var(--professional-gray);
    color: var(--serious-white);
    font-family: "IM Fell French Canon";
    text-align: center;
    margin: 0;
    padding: 0;
}

#header-div {
    display: flex;
    justify-content: space-between;
    background-color: var(--serious-black);
    color: var(--serious-white);
    width: 100wv;
    height: 40px;
    align-items: center;
    padding: 0 5px;
    border-bottom: solid 2px var(--serious-white);
}

#content-div {
    display: flex;
    justify-content: center;
    width: min(1400px, 80%);
    height: calc(100vh - 34px);
    margin: 0 auto;
    background-color: var(--serious-black);
    padding: 15px;
}

h1 {
    font-size: 40px;
}

#content-div p {
    font-size: 18px;
    padding: 5px 20px;
}

a:visited {
    color: var(--serious-white);
}

footer {
    background-color: var(--serious-black);
    opacity: 0.95;
    font-family: "IM Fell French Canon";
    font-size: 14px;
    color: var(--serious-white);
    padding: 2px;
    border-top: solid 1px var(--serious-white);
    height: 34px;
    min-height: 34px;
    bottom: 0;
    position: sticky;
}

#footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 60%;
    margin: 0 auto;
    padding-left: 88px;
}

#footer-div div {
    display: inline-block;
}

footer img {
    display: inline-block;
    margin: 0 10px;
}

footer p {
    margin: 0;
    padding: 5px;
}

#email-div {
    height: 45px;
    width: max(80%, 700px);
    margin: 0 auto;
    padding: 15px;
    text-align: left;
}